<%= form_with(model: setting) do |form| %>

  <div>
    <%= form.label :blog_title %>
    <%= form.text_area :blog_title %>
  </div>

  <div>
    <%= form.label :blog_sub_title %>
    <%= form.text_area :blog_sub_title %>
  </div>

  <div>
    <%= form.label :root_page_menu %>
    <%= form.check_box :root_page_menu %>
  </div>

  <div>
    <%= form.label :root_page_posts %>
    <%= form.check_box :root_page_posts %>
  </div>

  <div>
    <%= form.label :root_page_name %>
    <%= form.text_area :root_page_name %>
  </div>

  <div>
    <%= form.label :root_page_content %>
    <%= form.rich_text_area :root_page_content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
