<p id="notice"><%= notice %></p>
<div style="text-align: center;">
  <sl-card class="card-overview", style="width: 850px;">
  <h1 style= "font-size: 3.6em; text-align: center">
    <%= @page.title %>
  </h1  >

  <p>
    <%= @page.content %>
  </p>
</div>
<% if logged_in? %>
  <%= link_to 'Edit', edit_page_path(@page) %> |
  <%= link_to 'Back', pages_path %>
<% else %>
<% end %>
