<p id="notice"><%= notice %></p>
<div style="text-align: center;">
  <sl-card class="card-overview", style="width: 850px;">
  <h1 style= "font-size: 3.6em; text-align: center">
    <%= @post.title %>
  </h1  >

  <p style="float: left; text-align: left; position: relative; left: -0%; font-size: 1.4rem; line-height: 1.3;">
    <%= @post.sub_title %>
  </p>

  <p>
    <%= @post.content %>
  </p>
</div>
<% if logged_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% else %>
<% end %>
