<div>
  <%= debug(params) if Rails.env.development? %>
    <nav>
      <a style="text-align: left;"><%= link_to "Blog on Rails2", root_path%></a>
      <% Page.all.where('pages.active = ?', true).order(sort: :asc).each do |page| %>
        <%= link_to page.title, page %>
      <% end %>
      <ul style="text-align: center;">
        <% if logged_in? %>
          <sl-button-group>
            <%= link_to "<sl-button>Users</sl-button>".html_safe, users_path %>
            <%= link_to "<sl-button>Profile</sl-button>".html_safe, current_user %>
            <%= link_to "<sl-button>Posts</sl-button>".html_safe, posts_path %>
            <%= link_to "<sl-button>Pages</sl-button>".html_safe, pages_path %>
            <%= link_to "<sl-button>Log out</sl-button>".html_safe, logout_path, method: :delete %>
          </sl-button-group>
        <% else %>
        <% end %>
      </ul>
    </nav>
</div>
